/*
	mapclient.css
	=============

	License: MIT, see LICENSE.
	Author(s): Juhani Imberg
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	background-color: #F8F8F8;
	margin: 0 15px 15px 15px;
}

p {
	color: #333;
}

h1 {
	color: #333;
	display: block;
	font-size: 2em;
	font-weight: bold;
}

/* Loading animations <3 */
.beforeLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border: 3px solid rgba(51, 51, 51, .15);
	border-radius: 100%;
	display: inline-block;
	content: "";
}

.whileLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border-left: 3px solid rgba(51,51,51,.15);
	border-right: 3px solid rgba(51,51,51,.15);
	border-bottom: 3px solid rgba(51,51,51,.15);
	border-top: 3px solid rgba(51,51,51,.8);
	border-radius: 100%;
	display: inline-block;
	content: "";

	-webkit-animation: spin 1.3s infinite linear;
	animation: spin 1.3s infinite linear;
}

.afterLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border: 3px solid rgba(51, 51, 51, .8);
	border-radius: 100%;
	display: inline-block;
	content: "";
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.subtle {
	color: rgba(51,51,51,.8);
}

.subtler {
	color: rgba(51,51,51,.5);
}

.range {
	width: calc(100% - 270px);
}

.content {
	display: flex;
	padding: 5px 0;
}

.leftBox {
	width: 250px;
	text-align: justify;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid rgba(51,51,51,.5);
}

.rightBox {
	flex: 1 1 0;
}

.header {
	display: flex;
}

.lefttop {
	align-self: flex-start;
}

.rightbot {
	align-self: flex-end;
	flex: 1 1 0;
	
	text-align: right;
}

.columncontainer {
	display: flex;
	flex: 1;
}

.leftcolumn {
	flex: 0 0 9em;
	text-align: right;
	padding-right: 1em;
}

.rightcolumn {
	flex: 0 0 9em;
	text-align: right;
}

.middlecolumn {
	flex: 1;
	width: 100%;
}

input[type="range"] {
	width: 100%;
}

.buttona {
	font-family: inherit;
	font-size: 100%;
	padding: 0.25em 0.5em;
	color: #333;
	background-color: #F8F8F8;
	border: 1px solid #aaa;
	text-decoration: none;
	border-radius: 4px;
}

.buttona:hover {
	background-color: #e8e8e8;
}

.buttona:active {
	box-shadow: inset 0px 3px 3px #cbcbcb;
	background-color: #e8e8e8;
	outline: none;
}