/*
	mapclient.css
	=============

	License: MIT, see LICENSE.
	Author(s): Juhani Imberg
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	background-color: #F8F8F8;
	margin: 15px;
}

p {
	color: #333;
}

h1 {
	color: #333;
	display: block;
	font-size: 2em;
	font-weight: bold;
}

/* Loading animations <3 */
.beforeLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border: 3px solid rgba(51, 51, 51, .15);
	border-radius: 100%;
	display: inline-block;
	content: "";
}

.whileLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border-left: 3px solid rgba(51,51,51,.15);
	border-right: 3px solid rgba(51,51,51,.15);
	border-bottom: 3px solid rgba(51,51,51,.15);
	border-top: 3px solid rgba(51,51,51,.8);
	border-radius: 100%;
	display: inline-block;
	content: "";

	-webkit-animation: spin 1.3s infinite linear;
	animation: spin 1.3s infinite linear;
}

.afterLoad:after {
	width: 14px;
	height: 14px;
	margin: 0 0 -4px 4px;

	border: 3px solid rgba(51, 51, 51, .8);
	border-radius: 100%;
	display: inline-block;
	content: "";
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.rightStatus {
	float: right;
	width: 120px;
	text-align: right;
}

.topStatus {
	margin-top: 30px;
}

.leftStatus {
	width: 140px;
	display: inline-block;
}

.name {
	display: inline-block;
}

.floatClear {
	clear: both;
	height: 0;
	width: 0;
}

.subtle {
	color: rgba(51,51,51,.8);
}

.subtler {
	color: rgba(51,51,51,.5)
}

.range {
	width: calc(100% - 270px);
}

.content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.leftBox {
	width: 250px;
	border-right: 1px solid rgba(51,51,51,.5);
	margin-right: 3px;
}

.rightBox {
	-webkit-flex: 1 1 0;
	-moz-flex: 1 1 0;
	-ms-flex: 1 1 0;
	-webkit-flex: 1 1 0;
	flex: 1 1 0;
}